#anchorPane, #scrollPane .scroll-bar:vertical {
    -fx-background-color: black;
}

#visioneSchermo {
    -fx-text-fill: white;
}

#scrollPane .scroll-bar:vertical .increment-button,
#scrollPane .scroll-bar:vertical .decrement-button,
#scrollPane .scroll-bar:vertical .thumb {
    -fx-background-color: #2c2c2c;
}

.topButton {
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
    -fx-min-width: 80;
    -fx-max-width: 80;
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;

    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.5), 4, 0, 0, 0);
}

.topButton:disabled {
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

.perimeterButton{
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
.perimeterButton:disabled{
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

.buttonEnter{
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.numberAndVariableButton{
    -fx-background-color: #565656;
    -fx-text-fill: white;
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.button:hover {
    -fx-background-color: rgba(96, 50, 97, 0.91);
}

.stackButton{
    -fx-background-color: #2c2c2c;
    -fx-text-fill: white;
    -fx-min-width: 60;
    -fx-max-width: 60;
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#HBox{
    -fx-translate-x: -5px;
}
.stackTable{
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 0.5px;
    -fx-text-fill: white;
}
.stackTable .column-header{
    -fx-background-color: #2c2c2c;
}
.stackTable .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.stackTable .column{
    -fx-background-color: black;
    -fx-text-fill: white;
}
.stackTable .scroll-bar *{
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
